@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" />

<h2>Index</h2>
<html>
    <body>
        @ViewBag.message
    </body>
</html>
